.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.component {
  display: none;

}

.component.active {
  display: block;
  width: 100%;

}

.page-left {
  flex: 6;
  background-color: rgb(14, 20, 33);
  height: 100vh;
}